.not-found {
  background: #ffffff;
}

.not-found__container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
}

.not-found__title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.not-found__title h1 {
  margin: 0px;
  font-weight: 900;
  font-size: 276px;
  color: #ececec;
}

.not-found h2 {
  font-size: 38px;
  font-style: oblique;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
}

.not-found p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.75;
  color: #000;
}

.not-found a {
  display: block;
  width: fit-content;
  padding: 9px 21px 6px 11px;
  margin: 0 auto;
  font-size: 19px;
  line-height: 1.211;
  font-weight: 300;
  font-style: oblique;
  color: #ffffff;
  text-shadow: 1px 0 0;
  background-color: #4481c3;
  border-radius: 3px;
  transform: skew(-15deg);
  transition: background 0.3s, color 0.3s, text-shadow 0.3s;
}

.not-found a:hover {
  background-color: #ff9000;
}
